﻿<div class="row">
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1> Some notes manager</h1>      
                    <p> Simple creating and managing your notes</p>
                </div>
               
                <img src="ImgBase/notes_icon.png" />
            </div>
           <div id="LoginDiv" class="col-md-4 col-md-offset-1">
                <h1>Login</h1>
               <br />
                <form>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input id="login" type="text" class="form-control" name="email" placeholder="Login">
                    </div>
                    <br />
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                      <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                    </div>
              </form>
                <br />
               <button id="SubmitLogin" class="btn btn-success">Submit</button>
            </div>       
       </div>