﻿<table class="table table-hover">
    <thead>
        <tr>
            <th>Check</th>
            <th>Id</th>
            <th>Author Username</th>
            <th>Time</th>
            <th>Notation</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody id="TableBody">
    </tbody>
</table>
<button id="AddNoteButton" class="btn btn-success btn-lg">Add</button>
<button id="EditNote" class="btn btn-info btn-lg disabled">Edit</button>
<button id="RemoveNote" class="btn btn-danger btn-lg disabled">Remove</button>
<button id="SaveData" class="btn btn-primary btn-lg">Save</button>
<input id="AutoSave" type="checkbox">Autosave</input>

<div class="row">
    <div id="AddBody" class="col-md-6 col xs-12">
    </div>
</div>